@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .button-primary {
    @apply py-2 px-3 max-h-20 w-fit bg-primary font-primaryFont text-white  dark:text-black dark:bg-white dark:hover:text-black dark:focus:border-jommi_purple dark:focus:bg-white rounded-lg  hover:bg-tertiary focus:border-2 focus:border-jommi_purple focus:bg-primary ;
  }

  .button-secondary {
    @apply py-2 px-3 max-h-20 w-fit border-primary bg-jommi_blue font-primaryFont text-white font-bold rounded-lg ;
  }

 .input{
  @apply border border-secondary_grey bg-transparent focus:outline-none focus:border-primary font-primaryFont text-secondary_grey py-2 px-2  w-full rounded-[7px]  ;
 }

 .input__disabled{
  @apply bg-tertiary_grey dark:border dark:border-tertiary_grey
 }

 .input_label {
  @apply relative h-full font-primaryFont text-secondary_grey text-sm
 }
}