@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 35, 17, 39;
    --background-end-rgb: 25, 12, 28;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .button-primary {
    @apply py-2 px-3 max-h-20 w-fit rounded-lg focus:border-2 text-white hover:bg-jommi_purple bg-jommi_purple_plus dark:text-white dark:bg-jommi_purple_plus dark:hover:bg-jommi_purple;
  }

  .button-secondary {
    @apply py-2 px-3 max-h-20 w-fit rounded-lg text-white bg-secondary_grey hover:bg-soft_grey dark:text-white dark:bg-secondary_grey dark:hover:bg-soft_grey;
  }

  .input {
    @apply border border-secondary_grey bg-transparent focus:outline-none focus:border-primary font-primaryFont text-secondary_grey py-2 px-2 w-full rounded-[7px];
  }

  .input__disabled {
    @apply bg-tertiary_grey dark:border dark:border-tertiary_grey;
  }

  .input_label {
    @apply relative h-full font-primaryFont text-secondary_grey text-sm;
  }

  .thead_table {
    @apply sticky top-0 right-0  font-primaryFont text-tableTitleColor border text-sm text-start border-primary;
  }

  .tbody_table {
    @apply divide-y-[10px] divide-transparent text-tertiaryGrey  font-semibold font-primaryFont;
  }
}
