@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 35, 17, 39;
    --background-end-rgb: 25, 12, 28;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.diagonal-component1 {
  width: 20px; /* Ajusta según sea necesario */
  height: 20px; /* Ajusta según sea necesario */
  background: linear-gradient(to top left, #838383 50%, #b3b3b3 50%);
}

.diagonal-component2 {
  width: 20px; /* Ajusta según sea necesario */
  height: 20px; /* Ajusta según sea necesario */
  background: linear-gradient(to top left, white 50%, #ff0000 50%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .button-primary {
    @apply max-h-20 w-fit rounded-lg bg-jommi_purple_plus px-3 py-2 text-white hover:bg-jommi_purple focus:border-2 dark:bg-jommi_purple_plus dark:text-white dark:hover:bg-jommi_purple;
  }

  .button-secondary {
    @apply max-h-20 w-fit rounded-lg bg-secondary_grey px-3 py-2 text-white hover:bg-soft_grey dark:bg-secondary_grey dark:text-white dark:hover:bg-soft_grey;
  }

  .input {
    @apply w-full rounded-[7px] border border-secondary_grey bg-transparent px-2 py-2 font-primaryFont text-secondary_grey focus:border-primary focus:outline-none;
  }

  .input-file {
    @apply w-full rounded-[7px]  bg-transparent px-2 py-2 font-primaryFont text-secondary_grey;
  }

  .input__disabled {
    @apply bg-tertiary_grey dark:border dark:border-tertiary_grey;
  }

  .input_label {
    @apply relative h-full font-primaryFont text-sm text-secondary_grey;
  }

  .thead_table {
    @apply sticky right-0 top-0 border border-primary text-start font-primaryFont text-lg text-black 2xl:text-xl dark:text-white;
  }

  .tbody_table {
    @apply divide-transparent border border-primary font-primaryFont text-base text-black 2xl:text-lg dark:text-white;
  }

  .threeDots {
    @apply h-10 max-w-xs truncate hover:overflow-clip hover:whitespace-normal hover:break-all sm:max-w-none;
  }
}
